body {
    background-color: black;
    padding: 0;
    margin: 0;
    cursor: url(../img/cursor3.png), auto;
}
#background {
    color: white;
    text-shadow: 1px 1px darkgray;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    top: 50%;
    z-index: 1;
}
.background {
}

.mayappear {
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ie-transition: opacity 3s;
}
.hidden {
    opacity: 0;
}
.shown {
    opacity: 1;
}