body {
    background-color: black;
    padding: 0;
    margin: 0;
}
#background {
    color: white;
    text-align: center;
    font-family: "fantasy";
    font-weight: bold;
    top: 50%;
    z-index: 1;
}
.background {
}

.mayappear {
    transition: opacity 3s;
}
.hidden {
    opacity: 0;
}
.shown {
    opacity: 1;
}